

body {
    background-color: #569486;
    color: #FFFFFF;
}



#title {
    font-size: 100px;
    font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
margin-left: 240px;
margin-right: 240px;
}



#intro {
    width: 700px;
    background-color: #FFFFFF;
    color: black;
    margin: 16px 280px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: 16px;
    border-radius: 350px;
    text-align: center;
    
}



h3 {
    font-size: 30px;
    font-family: "miller-display", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 240px;
    margin-right: 240px;
}


#womendesign {
    width: cover;
    height: 400px;
}



p {
    margin-left: 240px;
    margin-right: 240px;
    font-family: "bilo", sans-serif;
    font-weight: 400;
    font-style: normal;
}



#elizabethname, #paulaname, #jessicaname {
    margin-left: 240px;
    margin-right: 240px;
    position: relative;
    top: 100px;
    left: 120px;
}



#elizabethimg, #paulaimg, #jessicaimg {
    margin-left: 240px;
    size: 500px;
    border-radius: 50px;
}


#eliz1, #eliz2 {
    margin-left: 260px;
    margin-right: 260px;
    width: 400px;
}

#paula1, #paula2, #paula3 {
    margin-left: 300px;
    margin-right: 300px;
}

#paula1 {
    width: 300px;
}

#paula2, #paula3 {
    width: 200px;
}

#jessica1, #jessica2, #jessica3 {
    margin-left: 300px;
    margin-right: 300px;
}

#jessica1 {
    width: 400px;
}

#jessica2 {
    width: 180px;
}

#jessica3 {
    width: 180px
}




